/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1d;
    color: #c5c6c7;
}

header {
    background-color: #0b0c10;
    padding: 1rem;
    text-align: center;
}

header .logo h1 {
    color: #66fcf1;
    margin: 0;
}

main {
    padding: 2rem;
}

/* Sección de detalles del videojuego */
.game-detail {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: #0b0c10;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.game-cover img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.game-info {
    margin-bottom: 2rem;
}

.game-info h2 {
    color: #66fcf1;
    margin-bottom: 1rem;
}

.game-info p {
    line-height: 1.6;
    font-size: 1rem;
    color: #c5c6c7;
}

/* Valoración */
.game-rating {
    margin-top: 2rem;
}

.game-rating h2 {
    color: #66fcf1;
    margin-bottom: 1rem;
}

.stars {
    font-size: 2rem;
    color: #ffd700;
}

.stars span {
    margin: 0 0.2rem;
}

.game-dates {
    margin-top: 2rem;
    text-align: left;
    background-color: #1a1a1d;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.game-dates h2 {
    color: #66fcf1;
    margin-bottom: 1rem;
}

.game-dates p {
    font-size: 1rem;
    line-height: 1.6;
    color: #c5c6c7;
}

footer {
    background-color: #0b0c10;
    color: #c5c6c7;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
