body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(26, 26, 29);
    color: #c5c6c7;
}

header {
    background-color: rgb(11, 12, 16);
    padding: 15px;
    text-align: center;
}

header .logo h1 {
    color: rgb(135, 250, 240);
    margin: 10px;
}

main {
    padding: 33px;
}

/* Galería de videojuegos */
.galeria {
    text-align: center;
}

.galeria h2 {
    color: rgb(135, 250, 240);
    margin: 10px;
}

.juego {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    padding: 30px;
    list-style: none;
}

.tarjeta {
    background-color: rgb(10, 10, 10);
    border: 3px solid rgb(135, 250, 240);
    border-radius: 50px;
    overflow: hidden;
    text-decoration: none;
    color: rgb(197, 198, 199);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition: transform 0.4s ease;
}

.tarjeta:hover {
    transform: scale(1.05);
}

.tarjeta img {
    width: 100%;
    height: 88%;
    flex-grow: 1;
    object-fit: cover;
    display: block;
}

.tarjeta p {
    margin: 0;
    padding: 8px;
    text-align: center;
    background-color: rgb(31, 40, 51);
    font-weight: bold;
    flex-shrink: 0;
}

footer {
    background-color: rgb(11, 12, 16);
    color: rgb(197, 198, 199);
    text-align: center;
    padding: 16px;
}

@media (max-width: 1024px) and (max-height: 720px) {
    main {
        padding: 16px;
    }

    .galeria h2 {
        font-size: 24px;
    }

    .juego {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en lugar de más, para pantallas más pequeñas */
        gap: 20px;
        padding: 20px;
    }

    .tarjeta img {
        height: 180px;  /* Ajusta el tamaño de las imágenes para que se vean bien en este dispositivo */
        object-fit: cover;
    }

    .tarjeta p {
        font-size: 8px;
        padding: 5px;
    }

    .star-wars {
    position: relative;
}

.star-wars::after {
    content: "✖";
    color: red;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border-radius: 50%;
    padding: 5px 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
}
